<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1054286888227-1a6ktqad8ah6fo8rke4f0tobllp29j0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054286888227-1a6ktqad8ah6fo8rke4f0tobllp29j0g</string>
	<key>API_KEY</key>
	<string>AIzaSyCkch2gnMxdlWeoSkDsShPGMb6DCKovEJU</string>
	<key>GCM_SENDER_ID</key>
	<string>1054286888227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>georgi.malkhasyan.myRandomProject</string>
	<key>PROJECT_ID</key>
	<string>postapp-a8856</string>
	<key>STORAGE_BUCKET</key>
	<string>postapp-a8856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054286888227:ios:b804f67abb90efd1</string>
	<key>DATABASE_URL</key>
	<string>https://postapp-a8856.firebaseio.com</string>
</dict>
</plist>